USE [master]
GO
/****** Object:  Database [TourBooking]    Script Date: 3/12/2023 7:06:10 PM ******/
CREATE DATABASE [TourBooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourBooking_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.PHUOCLT\MSSQL\DATA\TourBooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TourBooking_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.PHUOCLT\MSSQL\DATA\TourBooking.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourBooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourBooking]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/12/2023 7:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[first_name] [varchar](255) NOT NULL,
	[phone] [varchar](255) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[city] [varchar](255) NULL,
	[province] [varchar](255) NULL,
	[district] [varchar](255) NULL,
	[role] [int] NOT NULL,
	[avatar] [nvarchar](max) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__Account__3213E83F779F57B2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tour_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[booking_date] [date] NOT NULL,
	[num_adults] [int] NOT NULL,
	[num_children] [int] NOT NULL,
	[num_infants] [int] NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destination]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destination](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[region] [varchar](255) NOT NULL,
	[description] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DestinationImage]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestinationImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[destination_id] [int] NOT NULL,
	[image] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[payment_method] [varchar](255) NOT NULL,
	[payment_date] [date] NOT NULL,
	[payment_amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[accountID] [int] NOT NULL,
	[role] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tour_name] [varchar](255) NOT NULL,
	[tour_duration] [int] NOT NULL,
	[tour_capacity] [int] NOT NULL,
	[status] [varchar](255) NOT NULL,
	[tour_guide_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourDetail]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tour_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[departure] [varchar](255) NOT NULL,
	[destination_id] [int] NOT NULL,
	[expired_date] [date] NOT NULL,
	[transportation_id] [int] NOT NULL,
	[tour_description] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourGuide]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourGuide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tour_id] [int] NOT NULL,
	[tour_guide_name] [varchar](255) NOT NULL,
	[tour_guide_age] [int] NOT NULL,
	[tour_guide_phone] [varchar](255) NOT NULL,
	[tour_guide_email] [varchar](255) NOT NULL,
	[tour_guide_language_spoken] [varchar](255) NOT NULL,
	[tour_guide_ava] [nvarchar](max) NOT NULL,
	[tour_guide_bio] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourPrice]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourPrice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tour_id] [int] NOT NULL,
	[price_adults] [decimal](10, 2) NOT NULL,
	[price_children] [decimal](10, 2) NOT NULL,
	[price_infants] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportation]    Script Date: 3/12/2023 7:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transportation_type] [varchar](255) NOT NULL,
	[transportation_description] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_role]  DEFAULT ((2)) FOR [role]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__status__18EBB532]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([tour_id])
REFERENCES [dbo].[Tour] ([id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Account] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Account]
GO
ALTER TABLE [dbo].[DestinationImage]  WITH CHECK ADD FOREIGN KEY([destination_id])
REFERENCES [dbo].[Destination] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[TourDetail]  WITH CHECK ADD FOREIGN KEY([destination_id])
REFERENCES [dbo].[Destination] ([id])
GO
ALTER TABLE [dbo].[TourDetail]  WITH CHECK ADD FOREIGN KEY([tour_id])
REFERENCES [dbo].[Tour] ([id])
GO
ALTER TABLE [dbo].[TourDetail]  WITH CHECK ADD FOREIGN KEY([transportation_id])
REFERENCES [dbo].[Transportation] ([id])
GO
ALTER TABLE [dbo].[TourGuide]  WITH CHECK ADD FOREIGN KEY([tour_id])
REFERENCES [dbo].[Tour] ([id])
GO
ALTER TABLE [dbo].[TourPrice]  WITH CHECK ADD FOREIGN KEY([tour_id])
REFERENCES [dbo].[Tour] ([id])
GO
USE [master]
GO
